* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 30px;

}

a {
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

header {
    grid-area: hea;
    background-color: rgb(244, 148, 21);
}

nav {
    grid-area: nav;
    background-color: rgb(31, 198, 53);
}

li {
    padding-bottom: 100px;
}

footer {
    grid-area: foo;
    background-color: rgb(199, 131, 131);
}

.person {
    width: auto;
    height: 200px;

}

#grid_wrapper_1 {
    display: grid;
    height: 150vh;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 100px 800px minmax(100px,1fr);
    grid-template-areas: 
    "hea hea"
    "nav se1"
    "foo foo"
}



#se_1 {
    grid-area: se1;
    background-color: rgb(0, 51, 255);
}

#grid_wrapper_2 {
    display: grid;
    height: 200vh;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 100px 600px 600px minmax(100px,1fr);
    grid-template-areas: 
    "hea hea"
    "nav se2"
    "nav se3"
    "foo foo"
}

#se_2 {
    grid-area: se2;
    background-color: rgb(226, 246, 13);
}

#se_3 {
    grid-area: se3;
    background-color: rgb(0, 51, 255);
}

#grid_wrapper_3 {
    display: grid;
    height: 150vh;
    grid-template-columns: 1fr 4fr 4fr;
    grid-template-rows: 100px 250px 250px 250px minmax(100px,1fr);
    grid-template-areas: 
    "hea hea hea"
    "nav se4 se5"
    "nav se6 se7"
    "nav se8 se9"
    "foo foo foo"
}

#se_4 {
    grid-area: se4;
    background-color: rgb(0, 51, 255);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

#se_5 {
    grid-area: se5;
    background-color: rgb(53, 187, 107);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

#se_6 {
    grid-area: se6;
    background-color: rgb(0, 242, 255);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

#se_7 {
    grid-area: se7;
    background-color: rgb(255, 0, 38);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

#se_8 {
    grid-area: se8;
    background-color: rgb(217, 255, 0);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

#se_9 {
    grid-area: se9;
    background-color: rgb(111, 0, 255);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}
