* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

a {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

a:hover{
    color: black;
}

header {
    grid-area: hea;
    background-color:  rgb(223, 202, 202);
    justify-content: center;
    align-items: center;
}

nav {
    grid-area: nav;
    background-color: rgb(223, 202, 202);
    align-items: center;
}

li {
    padding-bottom: 100px;
}

footer {
    grid-area: foo;
    display: flex;
    background-color: rgb(59, 40, 40);
    justify-content: center;
    align-items: end;
    font-size: 50px;
    color: white;
}

span {
    font-size: 2rem;
}

.fit_flare {
    width: auto;
    height: 150px;
}

.work_out {
    width: auto;
    height: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.person_picture {
    width: auto;
    height: 300px;
    padding: 10px;
}

.namn {
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lista {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    font-size: 1rem;
}

.main_text {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    margin: 20px;

}

.main_page_picture{
    width: 600px;
    height: 400px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.intro_text {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 10px;
}

.intro_picture{
    width: auto;
    height: 400px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 2rem;
    text-align: center;
}

.forum_presentation {
    font-size: 1rem;
    padding: 10px;
}

.forum_text {
    text-decoration:underline;
    font-size: 1rem;
}
#grid_wrapper_1 {
    display: grid;
    height: 150vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 50px 450px 450px minmax(100px,1fr);
    grid-template-areas:
    "hea hea"
    "nav nav" 
    "se1_1 se1_2"
    "se1_3 se1_4"
    "foo foo"
}

#se_1_1 {
    grid-area: se1_1;
    background-color: #e74c3c;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#se_1_2 {
    grid-area: se1_2;
    background-color: #e74c3c;
    align-items: center;
    display: flex;

}

#se_1_3 {
    grid-area: se1_3;
    background-color: #e74c3c;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

#se_1_4 {
    grid-area: se1_4;
    background-color: #e74c3c;
    align-items: center;
    display: flex;
}
#grid_wrapper_2 {
    display: grid;
    height: 200vh;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 50px 800px 1000px 300px minmax(100px,1fr);
    grid-template-areas: 
    "hea"
    "nav"
    "se2_1"
    "se2_2"
    "go"
    "foo"
}

#se_2_1 {
    grid-area: se2_1;
    background-color: #e74c3c;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#se_2_2 {
    grid-area: se2_2;
    background-color: #e74c3c;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


#grid_wrapper_2_1 {
    display: grid;
    background-color:  rgb(223, 202, 202);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 50px 50px 50px;
    grid-area: go;
    grid-template-areas: 
    "se2_3 se2_3"
    "se2_4 se2_5"
    "se2_6 se2_7"
    "se2_8 se2_9"
}

#se_2_3 {
    grid-area: se2_3;
    font-size: 2rem;
    background-color:  rgb(223, 202, 202);

}

#se_2_4 {
    background-color: goldenrod;
    background: rgb(255, 255, 255);
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 7px;
}

#se_2_5 {
    background: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 7px;
}

#se_2_6 {
    background: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 7px;
}

#se_2_7 {
    background: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 7px;
}

#se_2_8 {
    background: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 7px;
}

#se_2_9 {
    background: white;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 7px;
}

#grid_wrapper_3 {
    display: grid;
    height: 150vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 50px 400px 400px 400px minmax(100px,1fr);
    grid-template-areas: 
    "hea hea"
    "nav nav"
    "se3_1 se3_2"
    "se3_3 se3_4"
    "se3_5 se3_6"
    "foo foo"
}

#se_3_1 {
    grid-area: se3_1;
    background-color: #e74c3c;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#se_3_2 {
    grid-area: se3_2;
    background-color: #e74c3c;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

#se_3_3 {
    grid-area: se3_3;
    background-color: #e74c3c;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

#se_3_4 {
    grid-area: se3_4;
    background-color: #e74c3c;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

#se_3_5 {
    grid-area: se3_5;
    background-color: #e74c3c;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

#se_3_6 {
    grid-area: se3_6;
    background-color: #e74c3c;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
