* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 30px;

}

a {
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

header {
    grid-area: hea;
    background-color:  #e74c3c;
    justify-content: center;
    align-items: center;
}

nav {
    grid-area: nav;
    background-color: rgb(255, 255, 255);
    align-items: center;
}

li {
    padding-bottom: 100px;
}

footer {
    grid-area: foo;
    background-color: rgb(59, 40, 40);
}

.fit_flare {
    width: auto;
    height: 150px;
}

.person {
    width: auto;
    height: 300px;
    padding: 10px;
}

.namn {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lista {
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

.text {
    font-size: 20px;
}
#grid_wrapper_1 {
    display: grid;
    height: 150vh;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 150px 100px 800px minmax(100px,1fr);
    grid-template-areas:
    "hea hea"
    "nav nav" 
    "se1 se1"
    "foo foo"
}



#se_1 {
    grid-area: se1;
    background-color: #e74c3c;

}

#grid_wrapper_2 {
    display: grid;
    height: 200vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 100px 600px 600px minmax(100px,1fr);
    grid-template-areas: 
    "hea hea"
    "nav nav"
    "se2 se2"
    "se3 se3"
    "foo foo"
}

#se_2 {
    grid-area: se2;
    background-color: #e74c3c;
}

#se_3 {
    grid-area: se3;
    background-color: #e74c3c;
}

#grid_wrapper_3 {
    display: grid;
    height: 150vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 100px 400px 400px 400px minmax(100px,1fr);
    grid-template-areas: 
    "hea hea"
    "nav nav"
    "se4 se5"
    "se6 se7"
    "se8 se9"
    "foo foo"
}

#se_4 {
    grid-area: se4;
    background-color: #e74c3c;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#se_5 {
    grid-area: se5;
    background-color: #e74c3c;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

#se_6 {
    grid-area: se6;
    background-color: #e74c3c;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

#se_7 {
    grid-area: se7;
    background-color: #e74c3c;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

#se_8 {
    grid-area: se8;
    background-color: #e74c3c;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

#se_9 {
    grid-area: se9;
    background-color: #e74c3c;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
